<header class="main-header dark-bg">
    <a href="../index.html" class="logo dark-bg">
        <span class="logo-mini"><img src="~/images/logos/multishop.jpg" style="width: 50px; height:50px; !important" alt="Ovio"></span>
        <span class="logo-lg"><img src="~/images/logos/multishop.jpg" style="width: 200px; height:50px; !important" alt="Ovio"></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Menüyü Aç/Kapat</span> </a>
        <div class="pull-left search-box">
            <form action="#" method="get" class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Arama terimini yazınız">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope"></i>
                        <div class="notify"> <span class="badge">@ViewBag.messageCount</span> <span class="point"></span> </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">@ViewBag.messageCount mesajınız var</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="~/ovio-admin-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Emre Kaya</h4>
                                        <p>Toplantı saatini değiştirelim mi?</p>
                                        <p><small><i class="fa fa-clock-o"></i> 2 dakika önce</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="~/ovio-admin-template/html/dist/img/img2.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Elif Yıldız</h4>
                                        <p>Rapor dosyasını gönderdiniz mi?</p>
                                        <p><small><i class="fa fa-clock-o"></i> 15 dakika önce</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="~/ovio-admin-template/html/dist/img/img3.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Deniz Aydın</h4>
                                        <p>Yeni projeyle ilgili detayları paylaştım.</p>
                                        <p><small><i class="fa fa-clock-o"></i> 35 dakika önce</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="~/ovio-admin-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Ayşe Demir</h4>
                                        <p>Bugünkü sunumu hazırladınız mı?</p>
                                        <p><small><i class="fa fa-clock-o"></i> 2 dakika önce</small></p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Tüm mesajları görüntüle</a></li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-megaphone"></i>
                        <div class="notify"> <span class="badge">@ViewBag.totalCommentCount</span> <span class="point"></span> </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Güncel Yorumlar</li>
                        <li>
                            <ul class="menu">
                                <li><a href="#"><i class="icon-lightbulb"></i> Yeni güncelleme yayınlandı.</a></li>
                                <li><a href="#"><i class="icon-map-pin blue"></i> Toplantı yarın saat 10:00'da.</a></li>
                                <li><a href="#"><i class="icon-refresh orange"></i> Sistem bakımı sürüyor.</a></li>
                                <li><a href="#"><i class="icon-map-pin blue"></i> Performans raporu hazırlandı.</a></li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Tüm yorumları görüntüle</a></li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/images/logos/manlogo.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">Admin 01</span> </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <div class="pull-left user-img"><img src="~/images/logos/manlogo.jpg" class="img-responsive" alt="User Image"></div>
                            <p class="text-left">Hasan Akcan <small>multishop@gmail.com</small> </p>
                            <div class="view-link text-left"><a href="#">Profili Görüntüle</a> </div>
                        </li>
                        <li><a href="#"><i class="icon-profile-male"></i> Profilim</a></li>
                        <li><a href="#"><i class="icon-wallet"></i> Bakiye</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> Gelen Kutusu</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="icon-gears"></i> Hesap Ayarları</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
